<div class="background">
    <div layout="column" layout-align"center center">
        <div class="fake-name">
            <img src="Poli_Title.png">
        </div>
        <h2 class="md-headline">Legislation, this time in plain English.</h2>
        <div layout-gt-xs="row" layout-xs="column" layout-align-xs="center center" layout-align-gt-xs="center center" class="first-part">
            <h2 class="md-display-1 mission-statement">We show you the laws that impact <b>you</b> most. By <b>summarizing legislation</b> and giving you a <b>personalized feed</b>, Poli will empower you to better understand current policy.</h2>
            <div class="get-email-box">
                <h3 class="md-title ">To receive an email when we launch, add your email below.</h3>
                <div class="marriage-statement">We promise not to distribute your email.</div>
                <form name="email-submit">
                    <md-input-container>
                        <label class="email-label">Email ...</label>
                        <md-icon md-svg-src="ic_email_black_24px.svg" class="email-logo"></md-icon>
                        <input required type="email" name="email" ng-model="email" id="email-input-box" focus="true" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                        <md-button type="submit" class="md-raised md-primary" ng-click="submitEmail()" value="Submit">Submit</md-button>
                    </md-input-container>
                </form>
            </div>
        </div>
        <div class="down-arrow-icon">
            <md-icon md-svg-src="ic_keyboard_arrow_down_black_24px.svg"></md-icon>
        </div>
    </div>
</div>
<div id="legislation-container">
    <div class="legislation-opener" layout="column" layout-align="center center">
        <h3 class="md-headline legislation-headline">Meet some of our future users...</h3>
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs class="legislation-tabs">
            <md-tab ng-repeat="person in personas" label="{{person.name}}">
                <md-content class="persona-content">
                    <md-card class="persona-cards">
                        <md-card-content layout="column">
                            <div class="profile" layout="row">
                                <img src="{{person.profPic}}" class="prof-pic {{person.name}}">
                                <div class="profile-metadata">
                                    <div class="md-headline">{{person.name}}</div>
                                    <div class="md-subhead">Age {{person.age}}</div>
                                    <div class="md-subhead">{{person.hometown}}</div>
                                </div>
                            </div>
                            <div class="bio" ng-bind-html="person.bio"></div>
                        </md-card-content>
                    </md-card>
                    <md-list>
                        <h3>{{person.name}}'s feed</h3>
                        <md-list-item class="md-3-line" ng-repeat="bill in person.legislation">
                            <img src="{{bill.pic}}" class="icon school-icon" hide-xs>
                            <div class="md-list-item-text">
                                <span class="bill-meta">{{bill.meta}}</span>
                                <div class="bill-name">{{ bill.name }}</div>
                                <div class="bill-subheader">{{bill.subheader}}</div>
                                <p> {{ bill.description }} </p>
                                <p><b> {{ bill.date }} </b></p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
<div class="footer">
    If you have any questions, concerns, jokes, or would like to work with us, please email us at <b>poli@mit.edu</b>
</div>
