<div class="background">
    <div layout="column" layout-align"center center">
        <div class="fake-name">
            <img src="Poli_Title.png">
        </div>
        <div layout-gt-xs="row" layout-xs="column" layout-align-xs="center center" layout-align-gt-xs="center start" class="first-part">
            <h2 class="md-display-1 mission-statement">We believe all legislation should be <b>distilled</b> and <b>tailored</b> for you! We're building an app that will help citizens like you become more aware of current legislation!</h2>
            <div class="get-email-box">
                <h3 class="md-headline ">To learn more, add your email below</h3>
                <form name="email-submit">
                    <md-input-container>
                        <label class="email-label">Email ...</label>
                        <md-icon md-svg-src="ic_email_black_24px.svg" class="email-logo"></md-icon>
                        <input required type="email" name="email" ng-model="email" id="email-input-box" focus="true" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary" ng-click="submitEmail()">Submit</md-button>
                </form>
            </div>
        </div>
        <div class="down-arrow-icon">
            <md-icon md-svg-src="ic_keyboard_arrow_down_black_24px.svg"></md-icon>
        </div>
    </div>
</div>
<div id="legislation-container">
    <div class="legislation-opener" layout="column" layout-align="center center">
        <h3 class="md-headline legislation-headline">Meet some of our potential future users...</h3>
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs class="legislation-tabs">
            <md-tab ng-repeat="person in personas" label="{{person.name}}">
                <md-content class="persona-content">
                    <md-card>
                        <md-card-content layout="row">
                            <div class="profile">
                                <img src="{{person.profPic}}" class="prof-pic">
                                <div class="md-headline">{{person.name}}</div>
                                <div class="md-subhead">Age {{person.age}}</div>
                                <div class="md-subhead">{{person.hometown}}</div>
                            </div>
                            <div class="bio" ng-bind-html="person.bio"></div>
                        </md-card-content>
                        </md-card>
                    <md-list>
                        <h3>{{person.name}}'s feed</h3>
                        <md-list-item class="md-2-line" ng-repeat="bill in person.legislation">
                            <md-icon md-svg-icon="ic_keyboard_arrow_right_black_24px.svg"></md-icon>
                            <div class="md-list-item-text">
                                <h3> {{ bill.name }} </h3>
                                <p> {{ bill.description }} </p>
                                <p><b> {{ bill.date }} </b></p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
